<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>

<!-- フォーム：記事投稿 -->
<form th:action="@{/article/addArticle}" th:object="${articleForm}" method="post">
    <th:block th:unless="${returnArticle}" >
        投稿著名:<br>
        <input type="text" name="name"  ><br>
        投稿内容:<br>
        <textarea name="content" cols="30" rows="10"  ></textarea><br>
    </th:block>
    <th:block th:if="${returnArticle}" >
        投稿著名:<br>
        <input type="text" name="name" th:value="${returnArticle.name}"  ><br>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div>
        投稿内容:<br>
        <textarea name="content" cols="30" rows="10" th:text="${returnArticle.content}" ></textarea><br>
        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color:red"></div>
    </th:block>

    <button>送信</button>
</form>


<br>
<hr>

<!-- 各記事の表示 -->
<div th:each="article : ${articleList}">
    <div >投稿著名: <span th:text="${article.name}"></span></div>
    <div >投稿内容: <span th:text="${article.content}"></span></div>
    <br>


    <!-- コメント表示 -->
    <div th:if="${#lists.isEmpty(article.commentList) == false}">
        <div th:each="comment : ${article.commentList}">
            <span th:text="${comment.name}"></span>: <span th:text="${comment.content}"></span>
        </div>
    </div>


    <!-- コメント投稿フォーム -->
    <form th:action="@{/article/addComment}" th:object="${commentForm}" method="post">

        <input type="hidden" name="articleId" th:value="${article.id}">

            名前:<br>
            <input type="text" name="name" th:unless="${commentForm.intArticleId == article.id}"   ><br>
            <input type="text" name="name" th:if="${commentForm.intArticleId == article.id}" th:value="${commentForm.name}" ><br>
            <div th:if="${commentForm.intArticleId == article.id}"
                 th:errors="*{name}" style="color:red"></div>

            コメント:<br>
            <textarea name="content" cols="30" rows="10" th:unless="${commentForm.intArticleId == article.id}" ></textarea>
            <textarea name="content" cols="30" rows="10" th:if="${commentForm.intArticleId == article.id}" th:text="${commentForm.content}" ></textarea>
            <br>
            <div th:if="${commentForm.intArticleId == article.id}"
                 th:errors="*{content}" style="color:red"></div>

        <button>送信</button>
    </form>

    <br>

    <!-- 記事削除ボタン -->
    <form th:action="@{/article/deleteArticle}" method="post">
        <input type="hidden" name="articleId" th:value="${article.id}" />
        <button>削除</button>
    </form>

    <hr>
</div>


</body>
</html>
